body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt; 
}
a { 
  text-decoration : underline; 
  color : #0000ff; 
}

td.inventoryTd {
	padding:0 5px 5px 0;
	border:green double 1px;
	}
td.inventoryTdHeader {
	padding:0 5px 5px 0;
	font-weight:bold;
	border:green double 1px;
	}