﻿<cfset folderPrefix = DateFormat(Now(),"yyyymmdd")>
<cfset save_path = ExpandPath('./') & "\DSR\" & folderPrefix & "\">
	<cfdirectory action="list" directory="#save_path#" filter="MMIX*.txt" name="mmixTextFiles">

	
<cfmodule template="getDailyMenuMix.cfm" mmixFileList="#mmixTextFiles#">