<cffile action = "read" file = "C:\Web\Crystal\DSR.txt" variable = "Report" charset="ISO-8859-1">
<cfset lineDelim = Chr(13) & Chr(10)>
<cfset columnDelim = chr(32) & chr(32)>

<cfscript>
	parsedData = ListToArray(Report,lineDelim, false);
</cfscript>

<cfdump var="#parsedData#">

<cfdump var="#ListToArray(parsedData[11], '  ', false, true)#">