
<html>
<head>
	<title>Debug Data</title>
</head>
<body>

<h2>Session Variables:</h2>

<cfdump var="#session#">

<h2>Application Variables:</h2>

<cfdump var="#application#">

</body>
</html>
