﻿<cfinclude template="header.cfm">


			<cfcookie name="storeId" expires="#DateAdd("d",-1,Now())#">
			<cfcookie name="storeName" expires="#DateAdd("d",-1,Now())#">

<cfinclude template="footer.cfm">