<cffile action = "read" file = "#ExpandPath('./')#\I012670005-08-2010.txt" variable = "Report" charset="ISO-8859-1">
<cfset lineDelim = Chr(13) & Chr(10)>
<cfset columnDelim = chr(32) & chr(32)>

<cfscript>
	parsedData = ListToArray(Report,lineDelim, false);
</cfscript>

<cfdump var="#parsedData#">

<cfdump var="#ListToArray(parsedData[2], '  ', true, true)#">
<cfdump var="#ListToArray(parsedData[1], '  ', true, true)#">