﻿<!---<cfset temp = CreateObject("component", "cfc.Utils")>--->

<!---<cfset theDate = "12282009">
<cfset theDate = Insert("-",theDate,4)>
<cfset theDate = Insert("-",theDate,2)>

<cfdump var="#Dateformat(theDate, application.eonDateFormat)#">
--->
<!--- 
<cffile action = "read" file = "#ExpandPath('./')#\payroll.csv" variable = "Report" charset="ISO-8859-1">

<cfset myObj = createObject("component", "cfc.utils")>

Convert the CSV to an array of arrays.
<cfset arrCSV = myObj.CSVToArray(
	CSVData = Report,
	Delimiter = ",",
	Qualifier = """"
	) />	
	 
	<cfdump var="#arrCSV#">--->
<!---	
	<cfset test = "mmm">
	
	<cfmodule template="errorReport.cfm" report="#test#" ErrorSubject="no data" parsedData="#application#">
	
	<cfset storesImported = ArrayNew(1)>
	
	<cfset arrayAppend(storesImported, "2159")>
	<cfset arrayAppend(storesImported, "2344")>
	
	<cfdump var="#storesImported#">--->
	
<!---<cffile action = "read" file = "C:\Web\eoncorp\orderGuides\20100604\BA126700.000" variable = "orderGuide" charset="ISO-8859-1">
<cfset lineDelim = Chr(13) & Chr(10)>
<cfset columnDelim = chr(32) & chr(32)>

<cfscript>
	parsedData = ListToArray(orderGuide,lineDelim, false);
</cfscript>


<cfset parsedArr = ListToArray(parsedData[20], '  ', false, true)>
	<cfset parsedStr = parsedArr[1]>
	<cfset parsedStr = lJustify(parsedStr,Len(parsedStr))>
	<cfset itemNumber = mid(parsedStr,1,6)>
	<cfset categoryId = abs(mid(parsedStr,16,5))>
	<cfset brand = abs(mid(parsedStr,16,5))>
	<cfset description = abs(mid(parsedStr,39,31))>
<cfdump var="#itemNumber#">

<cfquery datasource="MicrosEM" name="testEM">
 SELECT "dly_sys_ttl"."business_date"
 FROM   "micros"."dly_sys_ttl" "dly_sys_ttl"
</cfquery>


<cfset variables.yesterday = dateAdd("d",-1,Now())>
<cfdump var="#Day(variables.yesterday)#">--->


<!--- Create the data query.
<cfset qData = QueryNew( "" ) />
 
<!--- Create the ID column. --->
<cfset QueryAddColumn(
	qData,
	"id",
	"cf_sql_integer",
	ListToArray( "1,5,78,3,232" )
	) />
 
<!--- Create the name column. --->
<cfset QueryAddColumn(
	qData,
	"name",
	"cf_sql_varchar",
	ListToArray( "Anna,Kit,Libby,Sarah,Franci" )
	) />
 
<!--- Create the astrology sign column. --->
<cfset QueryAddColumn(
	qData,
	"sign",
	"cf_sql_varchar",
	ListToArray( "Virgo,Libra,Scorpio,Scorpio,Leo" )
	) />
 
 
<!---
	Now, we are going to move the data in our constructed
	query into a fixed-with data file.
--->
 
 
<!---
	Create an array to hold our complete set of data.
	Each index in this array will represent a row in
	our final data file.
--->
<cfset arrData = [] />
 
<!---
	Now, we are gonna loop over the query to convert each
	record into a fixed width data row.
--->
<cfloop query="qData">
 
	<!---
		Create an array to hold all the fields for this row
		of data. In this array, each index of the array will
		represent a single data field.
	--->
	<cfset arrRowData = [] />
 
	<!--- Create a 10 digit ID. --->
	<cfset arrRowData[ 1 ] = LJustify( qData.id, 10 ) />
 
	<!--- Create a 30 digit name. --->
	<cfset arrRowData[ 2 ] = LJustify( qData.name, 30 ) />
 
	<!--- Create a 20 digit sign. --->
	<cfset arrRowData[ 3 ] = LJustify( qData.sign, 20 ) />
 
 
	<!---
		Now that our array is full of the field data, each of
		which is "padded" to be fixed length, we need to add
		it to the master data array. As we do this, however,
		we are gonna collapse this row into a single string
		by converting it into a list that has no delimiter.
	--->
	<cfset ArrayAppend(
		arrData,
		ArrayToList( arrRowData, "" )
		) />
 
</cfloop>
 
 
<!---
	At this point, our master data array has a finalized row of
	data in each index. We now need to collapse the master data
	array down into a single data string. We will do this by
	converting the data array into a list that uses line breaks
	as a delimiter.
--->
<cfset strFinalData = ArrayToList(
	arrData,
	(Chr( 13 ) & Chr( 10 ))
	) />
 
 
<!---
	When we output the data, let's replace the spaces with
	periods so that we can see on the web page how the fields
	were padding using LJustify().
--->
<cfoutput>
	<pre>#Replace( strFinalData, " ", ".", "all" )#</pre>
</cfoutput>

<cffile action = "read" file = "#ExpandPath('./')#\KMTIMECARD.TXT" variable = "orderGuide">
<cfset lineDelim = Chr(13) & Chr(10)>
<cfset columnDelim = chr(32) & chr(32)>

<cfscript>
	parsedData = ListToArray(orderGuide,lineDelim, false);
</cfscript>

<cfdump var="#parsedData#"> --->

<!--- If the gridEntered form field exists, the form was submitted. Perform gridupdate.
<cfif IsDefined("form.gridEntered") is True>
    <cfgridupdate grid = "FirstGrid" dataSource = "#application.eonDsn#" Keyonly="true"
        tableName = "purchaseItems">
 </cfif>

<!--- Query the database to fill up the grid. --->
<cfquery name = "GetCourses" dataSource = "#application.eonDsn#">
	SELECT  itemNumber, itemDescription
	FROM     purchaseItems
	WHERE  ({ fn LENGTH(itemDescription) } = 0) OR
	               (itemDescription IS NULL)
	ORDER BY itemNumber
</cfquery>


<cfform>
<cfgrid name = "FirstGrid" width = "550" height="700" 
    query = "GetCourses" 
    font = "Tahoma" rowHeaders = "Yes" autowidth="yes" 
    colHeaderBold = "Yes"
    selectMode = "EDIT">
</cfgrid><br>
<cfinput type="submit" name="gridEntered">
</cfform>.

 
 <cfquery name="Getitems" datasource="#application.eonDsn#">
		SELECT purchaseItems.itemNumber, CAST(LTRIM(RTRIM(REPLACE(purchaseinvoices.itemSize,'CT',''))) AS int) AS cnt
		FROM purchaseItems
		INNER JOIN purchaseinvoices 
		ON purchaseinvoices.itemNumber = purchaseItems.itemNumber
		WHERE 
		1=1
		AND purchaseinvoices.itemSize LIKE '%CT%'
		AND purchaseItems.itemStatus > 0
		AND purchaseItems.itemnumber <> '069670' 
 </cfquery>
 
 <cfloop query="Getitems">
	<cfquery name="updateItem" datasource="#application.eonDsn#">
		UPDATE purchaseItems
			SET itemsPerPack = '#cnt#'
			WHERE purchaseItems.itemNumber = '#itemNumber#'
	</cfquery>
 
 </cfloop> --->
 <!--- <cfset y = application.daoObj.InsertInventorySnapshot('d74e1334-66b6-4cb1-9580-15c2d5aeb9d7')>
 <cfset x = isValid("guid",y)>
 <cfdump var="#x#">

 <cfloop query="application.getAllUnits">
	 <cfset variables.userId = '8ac04c0c-8af9-49b0-a1ab-ab34705e878b'>
	 <cfset variables.storeId = 'cc279bbc-8303-4468-974d-2225bec8cbb3'>
	 <cfset variables.dateWeekEnding = '01/22/2012'>
	 
	 <cfset application.daoObj.InsertInventorySummary(application.daoObj.GetInventorySnapshot('#variables.userId#','#variables.storeId#','#variables.dateWeekEnding#'),'#variables.storeId#','#variables.dateWeekEnding#')>
  ---><!---</cfloop>

 	<cfset weekDay = dayofweek(now())>
	
	<cfif weekDay EQ 1>
		<cfset dayFactor = 6>
	<cfelse>
		<cfset dayFactor = weekDay-2>
	</cfif>
	
	<cfset startDate = dateAdd("d",dayFactor,now())>
	<cfset endDate = dateAdd("d",dayFactor,startDate)>
	
	<cfset startDate = dateFormat(startDate,application.eonDateFormat)>
	<cfset endDate = dateFormat(endDate,application.eonDateFormat)>
 

<cfdump var="#startDate#">
<cfdump var="#application#">

<cfset application.daoObj.InsertDailyMenuMix('88339715-74b8-4ad4-a534-13186a61426c','02/29/2012','2000','test item','20','250')>--->
<cfset folderPrefix = DateFormat(Now(),"yyyymmdd")>
<cfset save_path = ExpandPath('./') & "\DSR\" & folderPrefix & "\">
	<cfdirectory action="list" directory="#save_path#" filter="MMIX*.txt" name="mmixTextFiles">

	
<cfmodule template="getDailyMenuMix.cfm" mmixFileList="#mmixTextFiles#">