﻿

<!---		<link type="text/css" href="../css/ui-lightness/jquery-ui-1.8.custom.css" rel="stylesheet" /> 
		<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script> 
		<script type="text/javascript" src="../js/jquery-ui-1.8.custom.min.js"></script> 
		
	<script type="text/javascript">
	    var spinnerVisible = false;
	    function showProgress() {
	        if (!spinnerVisible) {
	            $("div#spinner").fadeIn("fast");
	            spinnerVisible = true;
	        }
	    };
	    function hideProgress() {
	        if (spinnerVisible) {
	            var spinner = $("div#spinner");
	            spinner.stop();
	            spinner.fadeOut("fast");
	            spinnerVisible = false;
	        }
	    };
	</script>
	
	<style>
		div#spinner
		{
		    display: none;
		    width:100%;
		    height: 100%;
		    position: fixed;
		    background:url(spinner.gif) no-repeat center #fff;
		    text-align:center;
		    padding:10px;
		    font:normal 16px Tahoma, Geneva, sans-serif;
		    border:1px solid #666;
		    margin-left: -5px;
		    margin-top: -5px;
		    z-index:2;
		    overflow: auto;
			-moz-opacity:50;
			opacity:0.5;
		}
	</style>
	
	<div id="spinner"></div>
	
	<input type="button" value="ok" onclick="showProgress()">
	<input type="button" value="ok2" onclick="hideProgress()">
<script type="text/javascript">
	var wasSubmitted = false;
	
	function validateAndSubmit(){
		var submitBtn = document.getElementById('submitBtn');
		submitBtn.value = 'Submitting, Wait...';
		submitBtn.disabled = true;
		document.forms[0].submit();		
	}
 
</script>

<cfif IsDefined("form.qty")>
<cfdump var="#form.qty#">
</cfif>


	<form name="doInv" method="post" action="test.cfm">
	<input type="text" value="" name="qty">
	<input type="button" id="submitBtn" value="Submit Inventory" onclick="validateAndSubmit()">
	</form>

<cfinclude template="../footer.cfm" />
<cfdump var="#application.utilObj.getDateForYOY('10/08/2011')#">--->

<cfset dayn = dayOfWeek(now())>
<cfset dayn = dayn-2>

<cfif dayn EQ 0>
	<cfset dayn = 7>
<cfelseif dayn EQ -1>
	<cfset dayn = 6> 
</cfif>


<cfoutput>
	<table>
	 
	 <cfloop query="application.getAllUnits">
	
		<cfquery name="getSos" datasource="#application.eonDsn#">
			SELECT dbo.[GetWTDSosByStoreAndDateRange] (
			'#application.getAllUnits.id#'
			,'1/9/2012'
			,'1/15/2012',7) AS Sos
		</cfquery>	 
		
		<tr>
			<td>
			#application.getAllUnits.unitName#
			</td>
			<td>
			0
			</td>
			<td>
			0
			</td>
			<td>
			#getSos.sos#
			</td>	
		</tr>
		 
	 </cfloop>
	</table>
</cfoutput>